<launch>

<rosparam command="load" file="$(find endonasal_teleop)/config/Endonasal_Teleop_Param_Server.yaml" />
<!--<node pkg="rostopic" type="rostopic" name="rostopic" args="echo /Omnipos"/>
-->
<node pkg="endonasal_teleop" type="workspace_display" name="workspace_display"/>
<node pkg="endonasal_teleop" type="endonasal_teleop" name="endonasal_teleop"/>


<node pkg="rviz" type="rviz" name="rviz" required="true"/>

</launch>
